@import url('https://fonts.googleapis.com/css?family=Alatsi|Montserrat&display=swap');
$base-color: #000;
$background-color: #222326;
$background-two: #fff;
$secondary-color: #00cc00;


/* Global */
body {
  background: $background-color !important;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}
h1 {
  font-family: 'Alatsi', sans-serif;
}

.auth-links {
  color: $secondary-color !important;
  &:hover {
    text-decoration: none;
    color: #000;
    font-family: 'Alatsi', sans-serif;
    font-weight: bold;
    font-size: 17px;
  }
}

input:hover {
  box-shadow: 0 2px 4px 2px rgba(0,0,0,0.2);
}

button,
.btn,
input,
#place_description,
#photo_caption {
  border-radius: 0 !important;
}

#place_name,
#place_address,
#place_description,
#photo_caption,
form > .btn,
.buttons {
  transition: box-shadow 0.5s ease-in-out;
  &:hover {
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.2) !important;
  }
}

.flash-notice {
  margin-top: 15px;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

.booyah-box {
  box-shadow: 0 2px 4px 2px rgba($color: #000000, $alpha: 0.2);
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin:0;
  padding: 20px;
}

.modal-header {
  background:#1797ab;
  font-family: 'Alatsi', sans-serif !important;
  color: #d6fff6;
  box-shadow: 0 2px 4px 2px rgba($color: #000000, $alpha: 0.2);
  .close {
    color: #fff;
    &:hover {
      color: #d6fff6;
    }
  }
}

.modal-body {
  background: #fff;
}

.modal-footer {
  background: #d6fff6;
  box-shadow: 0 2px 4px 2px rgba($color: #000000, $alpha: 0.2);
}

/* Header */
.bg-dark {
  background-color:#000 !important;
}

.navbar {
  background-color:#000 !important;
  line-height: 45px;
  box-shadow: 0 2px 4px 2px rgba($color: #000000, $alpha: 0.4);
  .navbar-brand {
    font-family: 'Alatsi', sans-serif;
    font-weight: 600;
    letter-spacing: -0.3px;
    font-size: 32px;
    &:hover {
      color: $secondary-color !important;
    }
  }
}

.nav-link {
  &:hover {
    text-decoration: none;
    color: $secondary-color !important;
    font-family: 'Alatsi', sans-serif;
    font-weight: bold;
    font-size: 17px;
  }
}

.search-btn {
  border: $secondary-color 1px solid !important;
  color: $secondary-color !important;
  &:hover {
    background-color: $secondary-color !important;
    color: $base-color !important;
  }
}

/* Places Page */
.index-container {
  background: $background-two;
  margin-top: -25px !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
  padding-top: 25px !important;
}

.index-card-title {
  color: $background-color !important;
  &:hover {
    text-decoration: none;
    color: $secondary-color !important;
  }
}

.card-index-page {
  width: 32.2%;
  padding: 0px !important;
  margin: 5px;
  margin-bottom: 15px;
}

.index-image-size {
  width: 100%;
  min-height: 18vw;
  display: block;
  object-fit: cover;
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 4px 2px rgba($color: #000000, $alpha: 0.2);
}

/* Places Show Page */
.show-container {
  background: $background-two;
  margin-top: -25px !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
  padding-top: 25px !important;
}

.show-card-page {
  border-style: none !important;
}
.show-image-size {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-style: none;
  background-position: center;
  object-position: 50% 50%;
  box-shadow: 0 2px 4px 2px rgba($color: #000000, $alpha: 0.2);
}

#photo_caption:hover {
  box-shadow: 0 2px 4px 2px rgba($color: #000000, $alpha: 0.2);
}

#photo_picture {
  box-shadow: none !important;
  cursor: pointer;
}

.photo-display {
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.show-title-div {
  margin-bottom: -25px;
}

#map {
  height: 300px;
  // box-shadow: 0 2px 4px 2px rgba($color: #000000, $alpha: 0.2);
}

/* Authorization Pages */
.auth-image {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  background-size: 100%;
  background-position: center;
  width: 100%;
  height: auto;
  box-shadow: 0 2px 4px 2px rgba($color: #000000, $alpha: 0.2);
  z-index: -1;
}

/* Pagination */
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #000 !important;
  background-color:#fff;
  border: 1px solid $base-color;
  &:hover {
    background-color: $secondary-color !important;
  }
}

.page-item.active .page-link {
  z-index: 3;
  color: $secondary-color !important;
  background: linear-gradient(to top, #000000, #434343) !important;
  border-color: $secondary-color !important;
}

/* Media Quiries */
@media screen and (max-width: 1000px) {
  .card {
    width: 48.5%;
    padding: 0px !important;
    margin: 5px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 800px) {
  .card {
    width: 100%;
    padding: 0px !important;
    margin-bottom: 15px;
  }
}