<div class="container flash-notice">
  <% if flash[:error].present?  %>
    <div class="col-12 alert alert-danger">
      <%= flash[:error].html_safe %>
    </div>
  <% end %>
  <% if notice.present? %>
    <p class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
</div>